
.SolidButton  {
	margin-bottom:0px; 
	margin-top:0px; 
	padding: 5px 10px 5px 10px;
	background-color: #acf;
	color: #03a;
	border: 1px solid #fff;
	width: 150px;
}

.SolidButton:hover {
	padding: 5px 10px 5px 10px;
	background-color: #9bf;
	color: #03a;
	border: 1px solid #fff;
}

.SolidButton:active {
	padding: 5px 10px 5px 10px;
	background-color: #79f;
	color: #03a;
	border: 1px solid #fff;
}

.SolidButton:selected {
	padding: 5px 10px 5px 10px;
	background-color: #79f;
	color: #03a;
	border: 1px solid #fff;
}