
* {
	font-family: Sans-serif;
}

h1{
	margin: 0px;
}


#MainArea {
	position: absolute;
	left: 250px;
    top: 100px;
	right: 0px;
}

.Content{
	position: absolute;
	left: 0px;
    top: 0px;
	right: 0px;
}