
.ParamContainer  {

	background-color: #def;
	border: 2px solid #fff;
	
	
	
	margin-bottom:2px; 
	margin-top:2px; 
	margin-left:2px; 
	margin-right:2px; 
	padding: 5px 10px 5px 10px;

}

.ParamInfoBox{
	

}

#ParamContainer Name{


}