

.plot-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}




.plot_placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.rotate {
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
      -ms-transform: rotate(-90.0deg);  /* IE9+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Safari 3.1+, Chrome */
          transform: rotate(-90.0deg);  /* Standard */
}



.legend table {
	border-spacing: 5px;
}




div.plot {

    margin: 5px;
    padding: 5px;
    border: 1px solid #999999;
    height: auto;
    width: 500px;
	height: 400px;
    
    position: relative;
}

div.plot plotarea {
    display: inline;
	width: 100%;
	height: 100%;
    margin: 5px;
}

.downloadbutton {
	color: #dddddd;
	position: absolute;
	left: 10px; 
	bottom: 0px; 
	font-size:200%;
	font-weight: 900;
	
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.downloadbutton:hover {
	color: #000000;
}



.ylabel {
	text-align: center;
	color: #00000;
	position: absolute;
	height: 1%;
	left: 0%; 
	bottom: 50%; 
}

.fullscreenbox{
	width: 100%;
	height: 100%;
}

.fullscreenbutton{
	color: #dddddd;
	position: absolute;
	right: 10px; 
	bottom: 0px; 
	font-size:200%;
	font-weight: 900;
	
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fullscreenbutton:hover {
	color: #000000;
}

div.plot xlabel {
    text-align: center;
	position:absolute; 
	height: auto;
	bottom:0; 
    font-weight: normal;
    margin: 5px;
}




